<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
  <div class="list-group">
    
    <a routerLink="/" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <fa-icon icon="cog"></fa-icon> &nbsp;
      <span>Dashboard</span>
    </a>
    
    <div class="nested-menu">
      <a class="list-group-item" (click)="addExpandClass('pages')" href="javascript:void(0)">
        <fa-icon icon="cog"></fa-icon> &nbsp;
        <span jhiTranslate="global.menu.admin.main">Administration</span>
      </a>
      <li class="nested" [class.expand]="true">
        <ul class="submenu">
          <li>
            <a routerLink="admin/user-management" routerLinkActive="active">
              <span jhiTranslate="global.menu.admin.userManagement">User management</span>
            </a>
          </li>
          <li>
            <a routerLink="admin/tracker" routerLinkActive="active">
              <span jhiTranslate="global.menu.admin.tracker">User tracker</span>
            </a>
          </li>
          <li>
            <a routerLink="admin/metrics" routerLinkActive="active">
              <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
            </a>
          </li>
          <li>
            <a routerLink="admin/health" routerLinkActive="active">
              <span jhiTranslate="global.menu.admin.health">Health</span>
            </a>
          </li>
          <li>
            <a routerLink="admin/configuration" routerLinkActive="active">
              <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
            </a>
          </li>
        </ul>
      </li>
    </div>
    
    <div class="header-fields">
      <a (click)="rltAndLtr()" class="list-group-item">
        <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
      </a>
      <div class="nested-menu">
        <a class="list-group-item" (click)="addExpandClass('languages')">
          <span><i class="fa fa-language"></i>&nbsp; {{ 'Language' | translate }} <b class="caret"></b></span>
        </a>
        <li class="nested" [class.expand]="showMenu === 'languages'">
          <ul class="submenu">
            <li>
              <a href="javascript:void(0)" (click)="changeLang('en')">
                English
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="changeLang('fr')">
                French
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="changeLang('ur')">
                Urdu
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="changeLang('es')">
                Spanish
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="changeLang('it')">
                Italian
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="changeLang('fa')">
                Farsi
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="changeLang('de')">
                German
              </a>
            </li>
          </ul>
        </li>
      </div>
      <div class="nested-menu">
        <a class="list-group-item" (click)="addExpandClass('profile')">
          <span><fa-icon icon="user"></fa-icon>&nbsp; John Smith</span>
        </a>
        <li class="nested" [class.expand]="showMenu === 'profile'">
          <ul class="submenu">
            <li>
              <a href="javascript:void(0)">
                <span><i class="fa fa-fw fa-user"></i> Profile</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <span><i class="fa fa-fw fa-envelope"></i> Inbox</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <span><i class="fa fa-fw fa-gear"></i> Settings</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/login']" (click)="onLoggedout()">
                <span><i class="fa fa-fw fa-power-off"></i> Log Out</span>
              </a>
            </li>
          </ul>
        </li>
      </div>
    </div>
  </div>
  <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
    <fa-icon icon="angle-double-right" *ngIf="collapsed"></fa-icon>
    <fa-icon icon="angle-double-left" *ngIf="!collapsed"></fa-icon>
    &nbsp;
    <span>Collapse</span>
  </div>
</nav>